<!DOCTYPE html>
<html>
  <head>
    <title>Wynwood pep-boys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="http://www.fillmurray.com/g/10/10">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
